body{
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: rgb(223, 222, 222) !important;
}

.users-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.challengeTitle {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: rgb(63,94,251);
    background:radial-gradient(circle, rgba(63,94,251,1) 20%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.user-card {
    background-color: white;
    flex: 1 0 calc(33.33% - 20px); /* Three cards per row with 20px gap */
    max-width: calc(33.33% - 20px);
    min-width: 250px; /* Minimum width for each card */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px; /* Fixed height for each card */
    overflow: hidden;
    box-shadow:  inset 0 0 10px rgba(0, 0, 0, 0.5); 
}

.video-container {
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
FontAwesomeIcon {
    font-weight: bolder;
    font-size: larger;
}
.date-picker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker-container {
    display: flex;
    align-items: center;
}

.date-picker-container .react-datepicker-wrapper {
    margin: 0 10px;
}

.no-video {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    color : red;
}

iframe title {
    color : red;
}

.userName {
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
color: rgb(2,0,36);
background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}