.challenges-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.date-picker-container {
    margin: 0 10px;
}

.users-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border: 30px;
}

.user-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-input h3 {
    flex: 1;
    margin-right: 50px;
    padding: 30px;
    width : 300px;
    border-right: 100px;
    font-size: 1.5em;
}

.user-input input {
    flex: 2;
}

.invalid {
    border-color: red;
}

.error-message {
    color: red;
    margin-left: 10px;
}

.submitbtn {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    background:rgba(9,9,121,0.9);;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    width : 50%;
}

input{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
}
.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: rgb(45, 36, 168);
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 30px;
    margin-top: 30px;
  }